.scroll-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .scroll-to-top-button:hover {
    background-color: grey;
  }
  